body{
     background-color: orange;
     padding-top:220px;
}
h1{
	 font-size: 60px;
	 color:black;
	 font-style: italic;
	 text-align:center;
}
h2{
	 color:white;
	 font-size: 30px;
	 text-align:center;

}
h3{
     color:white;
	 font-size: 30px;
	 text-align:center;
}
p{
	 text-align:center;
}
div{
	 text-align:center;
}
h5{
	 color:red;
	 font-size: 30px;
}
